html {
    
    background-size: cover;
    background-repeat: no-repeat;
}

.personaj {
    float: left;
    width: 30%;
  }

  .next{
    float: left;
    width: 10%;  
    position: fixed;
    right: 0;
    bottom: 50%;
  
  }

  .joc{
    float: left;
    width: 60%;  
  }

  .pers{
      width: 350px;
  }

  #happy_faces{
      position: fixed;
      bottom: 50px;
  }

  .happy_face{
      width: 50px;
      visibility: hidden;
  }

  .cifra{
      width: 100px;
      cursor: pointer;
      
  }

  .cifra:hover {
      width: 150px;
  }

  .cifre{
      /* float: inline-end; */
      position: fixed;
     
      bottom: 50px;
      width: 100%;
  }

  .obiect{
      width:200px;
  }

  .obiecte{
      float: inline-start;
  }

  .button_next{
      cursor: pointer;
      width: 100px;
  }

  .button_exit{
      position: fixed;
      width: 100px;
      cursor: pointer;
      right: 0;
      top: 0;
  }

  .button_next:hover {
      width: 150px;
  }

  .button_exit:hover{
      width: 150px;
  }
  
  /* Clear floats after the columns */
  .digits_game:after {
    content: "";
    display: table;
    clear: both;
  }

  .play{
        width: 100px;
        cursor: pointer;
  }

  .stop{
    width: 100px;
    cursor: pointer;
    /* display: none; */
  }




  #divplay{
      position: fixed;
      left: 0;
  }

  #divstop{
      position: fixed;
      left: 0;
      z-index: 4;
  }

  .play:hover {
      width: 150px;
  }

  .stop:hover{
      width: 150px;
  }


  #overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.705); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
  } 

  #confetti{
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -3; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */ 
  }