html {
    background-image: url("../images/paper.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#image-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 10em;
}

#image-container img:hover{
    cursor: pointer;
}

#image-container img{
    margin: auto;
    padding: 1em;
}

#image-container .wide {
    width: 18%;
}

#image-container .square {
    width: 9%;
}

#image-container .thin {
    width: 5%;
}

#intro{
    visibility: hidden;
}
